.type
    //headline
    h1.type__h1 Lightning fast prototyping 
    //second headline
    h3.type__h3 Available exclusively on Mac for just $99.
    //title
    p.type__title At your fingertips
    //sub heading
    h2.type__h2 Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
    //button
    p.type__button Button 
    //sybtitle
    p.type__subtitle Organize across all apps by hand 
    // paragraphe
    p.type__p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
    //link
    a.type__a Link
    //Mobile menu
    p.type__mobileMenu Mobile Menu