@use 'src/styles/utils';

.type {
    background-color: white;
    color: black;

    position: relative;
    max-width: 973px;
    height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px;
}


