@use '_src/styles/utils';

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 36px;
    align-items: center;
    height: 52px;
    width: 139px;
    border: 1px solid #FFFFFF;
    text-decoration: none;
    color: utils.$type;
    font-family: utils.$graphik;
    padding: 10px;

    &-login{
        @extend .button;
    }

    p, a {
        font-family: Graphik;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        /* identical to box height, or 147% */

        letter-spacing: 0.2px;
    }
    
}