.gallery {
 margin-top: 90px;
}

.gallery>h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}
.gallery__image-container {
    display: flex;
    justify-content: center;
    gap: 33px;
    margin-top: 33px;
}


.gallery__img-1 {
    background-image: url("_src/blocks/gallery/img-1.png");
}
.gallery__img-2 {
    background-image: url("_src/blocks/gallery/img-2.png");
}
.gallery__img-3 {
    background-image: url("_src/blocks/gallery/img-3.png");
}
.gallery__img-4 {
    background-image: url("_src/blocks/gallery/img-4.png");
}
.gallery__img-5 {
    background-image: url("_src/blocks/gallery/img-5.png");
}
.gallery__img-6 {
    background-image: url("_src/blocks/gallery/img-6.png");
}
.gallery__img-7 {
    background-image: url("_src/blocks/gallery/img-7.png");
}

.gallery__img1 {
    width: 225px;
    height: 285px;
}

.gallery__img2 {
    width: 395px;
    height: 285px;
}