@use 'src/styles/utils';


.triple-screen {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-top: 20px;
    // padding-bottom: 95px;

   
}

.triple-screen__h1 {
    margin-top: 30px;
    margin-bottom: 60px;
}

.triple-screen__h2 {
    margin-bottom: 30px;
}

.triple-screen__button-row {
    margin-top: 60px;
    display: flex;
    margin-bottom: 35px;

    > *:nth-child(1) {
        background-color: utils.$button-blue;
        border: none;
        margin-right: 25px;
    }

}

//элемент с изображениями

.triple-screen__images-container{
    position: relative;
        width: 1552.02px;
        height: 841px;



    .triple-screen__img-top {
        position: absolute;
        left: calc(50% - 465px/2 - 138px);
        top: calc(55% - 460px);

        background-image: url("../images/triple-top.png");
    }

    .triple-screen__img-left {
        position: absolute;
        left: calc(50% - 465px/2 - 490px);
        top: calc(55% - 170px);
        // left: calc(50% - 466.53px/2 - 146.67px);
        // top: calc(50% - 429.98px/2 + 92.31px);
        background-image: url("../images/triple-left.png");
    }

    .triple-screen__img-right {
        position: absolute;
        left: calc(50% - 466.53px/2 + 220px);
        top: calc(55% - 195px);
        // left: calc(50% - 466.53px/2 + 584px);
        // top: calc(50% - 451.48px/2 + 76.47px);
        background-image: url("../images/triple-right.png");
    }
}

.triple-screen__gradient-spacer {
    height: 165px;
    width: 100%;
}

.triple-screen__gradient {
    position: absolute;
    width: 100%;
    height: 551px;
    bottom: 0px;
    background: utils.$background-gradient;
}