section.triple-screen
  h1
    | Work at the speed
    br
    | of thought
  h4
    | Most calendars are designed for teams. Slate is designed for
    br
    |           freelancers who want a simple way to plan their schedule.
  .triple-screen__button-row
    .button
      a(href='#') Try for free
    .button
      a(href='#') Learn more
  .triple-screen__images-container
    .triple-screen__images
      .triple-screen__img-top
        +image('triple-screen/triple-top')
      .triple-screen__img-left
        +image('triple-screen/triple-left')
      .triple-screen__img-right
        +image('triple-screen/triple-right')
    .triple-screen_gradient
