@use './utils';

body {
    background-color: #181818;

}

.container-main {
    width: 1579px;
    margin-right: auto;
    margin-left: auto;
    background-color: #181818;
};

.spacer {
    display: block;
    position: relative;
    height: 20px;
}


footer {
    padding-top: 100px;
    margin: 60px;
}

// TYPOGRAPHY

a, li, h1, h2, h3, h4 {
    color: utils.$type;
    text-decoration: none;
}

h1 {
    font-size:80px;
    font-family: utils.$graphik;
}

h3 {
    font-family: utils.$graphik;
    font-size: 52px;
    
  }

h4 {
    font-size: 20px;
    font-family: utils.$graphik;
}
