@use './utils';

body {
    background-color: #181818;
    color: white;

}

.container-main {
    width: 1579px;
    margin-right: auto;
    margin-left: auto;
    background-color: #181818;
};

.container-centered {
    display: flex;
    align-items: center; 
    justify-content: space-around;
};

.spacer {
    display: block;
    position: relative;
    height: 20px;
}


footer {
    padding-top: 100px;
    margin: 60px;
}

