section.whitecard__section 
    h2 Whatever heading 
        .whitecards
            .whitecard.whitecard-left
                h3  Work
                a Ever wondered if you're too reliant a client for work? Slate helps you identify .
                .whitecard__button 
                    a Sign up
                .whitecard__notebook 
                    .whtecard__notebook-img

            .whitecard
                h3  Design with real data
                a Ever wondered if you're too reliant on a client for work? Slate helps you identify .
                .whitecard__button 
                    a Sign up
                .whitecard__right-img
                