section.whitecard__section 
    h2 Whatever heading 
        .whitecards
            .whitecard--left
                h3  Work
                a WWWWW
                .whitecard__button 
                    a(href='#') Sign up
                .whitecard__notebook 
                    .whtecard__notebook-img

            .whitecard
                h3  Design with real data
                a WWWWW
                .whitecard__button 
                    a(href='#') Sign up
                .whitecard__right-img
                