@use '_src/styles/utils';

.whitecards {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.whitecard {
    position: relative;
    display: block;
    max-width: 50%;
    font-weight: 400;
    font-family: utils.$graphik;
        
}

.whitecard--left {
    font-weight: 600;
    font-family: utils.$graphik;
    max-width: 50%;
    
}