@use '_src/styles/utils';

.whitecards__section {
    position: relative;
    padding-top: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h3.whitecards__heading {
    margin-bottom: 27px;;
}

.whitecards__card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 56px;
    padding-bottom: 52px;
}

.whitecards__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 475px;
    font-family: utils.$graphik;
    color: black;
    background-color: aliceblue;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    padding: 50px 45.5px 40px;
    height: 620px;
    /* shadow */

    &--left{
        @extend .whitecards__card;
        
    }

    &--right{
        @extend .whitecards__card;
        margin-left: 30px;
    }

    p {
        color: #5C5C5C;
        margin: 30px;
    }

    p.title {
        color: black;
    }
        
}

.whitecards__card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.whitecards__button {
    background-color: utils.$button-blue;
}

.whitecard__img-right, .whitecard__img-left {

}


