.featrs-list
    .featrs-list__element
        .featrs-list__heading
            +image-svg('featrs-list/svg-1')
            p.title A single source of truth
        .featrs-list__text
            p When you add work to your Slate calendar we automatically calculate useful insights 
    .featrs-list__element
        .featrs-list__heading
            +image-svg('featrs-list/svg-2')
            p.title Intuitive interface
        .featrs-list__text
            p When you add work to your Slate calendar we automatically calculate useful insights 
    .featrs-list__element
        .featrs-list__heading
            +image-svg('featrs-list/svg-3')
            p.title Or with rules
        .featrs-list__text
            p When you add work to your Slate calendar we automatically calculate useful insights 
