$background: #181818;
$background-light: #343434;
$background-white: #FFFFFF;
$background-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 66.15%);
$button-blue: #4452FE;
$type: #ffffff;