@use './utils';

.features {
    padding-top: 200px;
    position: static;
    height: 1675px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columns {
    display: flex;
    flex-direction: row;
}