@use './utils';
@use './header/header';
@use './hero/hero';
@use './features/features';


.container-main {
    width: 1579px;
    padding: 0 17% 17%;
    background-color: #181818;
};

a, li, h1, h2, h3, h4 {
    color: utils.$type;
    text-decoration: none;
}

h1 {
    font-size:80px;
    font-family: utils.$roboto, sans-serif;
    font-weight: 500;
}

h3 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 52px;
  }

h4 {
    font-size: 20px;
    font-family: utils.$roboto, sans-serif;
    font-weight: 500;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 36px;
    align-items: center;
    height: 52px;
    width: 139px;
    border: 1px solid #FFFFFF;
    text-decoration: none;
    color: utils.$type;
    padding: 10px;

    &-login{
        @extend .button;
    }

    a {
        
    }
}

.spacer {
    display: block;
    position: relative;
    height: 20px;
}


footer {
    padding-top: 100px;
    margin: 60px;
}
