header
  .navbar
    a.logo(href='./type.html')
      +image(`header/logo`)
    nav
      ul
        li 
          a Home
        li 
          a About
        li 
          a Blog
        li 
          a Exit
    .button-login
      p(href='#') Login
