header
  .navbar
    a.logo(href='#')
      img(src="../../images'logo.png")
    nav
      ul
        li Home
        li About
        li Blog
        li Exit
    .button-login
      a(href='#') Login
