header
  .navbar
    a.logo(href='#')
      img(src=`/src/blocks/header/logo.png`)
    nav
      ul
        li Home
        li About
        li Blog
        li Exit
    .button-login
      a(href='#') Login
