section.features__section 
    h3.features__heading FEATURES
    h2.features__subheading Most calendars are designed for teams. Slate is designed for <br> freelancers who want a simple way to plan their schedule.
    .features__main-container 
        .features__img-container
            .img-small
        .features__list-container 
            include ../featrs-list/featrs-list.pug
