section.features__section 
    h3.features_heading Features
    h2.features_subheading Most calendars are designed for teams. Slate is designed for <br> freelancers who want a simple way to plan their schedule.
