@use '_src/styles/utils';

.features__section {
    position: relative;
    justify-content: space-around;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.features__heading {
    margin-bottom: 27px;;
}

.features__subheading {
    margin-bottom: 80px;;
}

.features__main-container {
    display: flex;
    justify-content: space-around;
    max-width: 1050px;
    width: 100%;
    padding: 0 3em;

}

.features__img-container {
    background-image: url("_src/blocks/features/img-big.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 70%;

}

.img-small {
    background-image: url("_src/blocks/features/img-small.png");
    position: absolute;
    top: 70%;
    left: 560px;
    width: 400px;
    height: 276px;
}


.features__list-container {
    margin-left: 40px;
    height: 650px;
    width: 30%;
}



